header {
  width: 100%;
  padding-top: 16px;

  .navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .logo {
        max-width: 88px;
      }

      .nav-list {
        list-style: none;
        display: flex;

        @include responsive(s) {
          display: none;
        }

        li {
          margin-left: 24px;

          .nav-link {
            display: inline-block;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 200;
            padding: 8px 16px;
            position: relative;
            color: $gray-3;
            transition: 0.7s ease;

            &.nav-link-red {
              color: $red;
              font-style: italic;
            }

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: -40px;
              left: 50%;
              width: 2px;
              height: 0;
              background: linear-gradient(
                180deg,
                rgba(233, 29, 34, 0) 0%,
                #e91d22 100%
              );
              transition: 0.7s ease;
            }

            &:hover {
              color: $white-light;
              &::after {
                height: 40px;
              }
            }
          }
        }
      }
    }

    .nav-social {
      display: flex;
      @include responsive(s) {
        display: none;
      }

      svg {
        width: 24px;
        margin-left: 16px;
        cursor: pointer;
        path,
        circle {
          transition: 0.7s ease;
        }

        &:hover {
          path,
          circle {
            fill: $red-light;
            transform: translate3d(0, -3px, 0);
          }
        }
      }
    }

    .bx {
      width: 40px;
      height: 40px;

      display: none;
      position: relative;
      cursor: pointer;

      @include responsive(s) {
        display: block;
      }

      &::after {
        content: '';
        display: block;

        position: absolute;
        top: 33%;
        left: 12%;

        width: 75%;
        height: 2px;
        border-radius: 2px;

        background-color: $white;
      }

      &::before {
        content: '';
        display: block;

        position: absolute;
        top: 57%;
        left: 12%;

        width: 75%;
        height: 2px;
        border-radius: 2px;

        background-color: $white;
      }
    }
  }
}
